spring:
  application:
    name: settlement-service
  datasource:
    url: jdbc:mariadb://localhost:3306/predata_settlement
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  redis:
    host: localhost
    port: 6379

server:
  port: 8084

services:
  member:
    url: http://localhost:8081
  question:
    url: http://localhost:8082
  betting:
    url: http://localhost:8083

logging:
  level:
    com.predata.settlement: DEBUG
